@import 'resets';
@import 'config';
@import 'components';


html {
    overflow-x: hidden;
    
    body{
        min-height: 100%;
        height: 100vh;
        font-family: 'Rubik', sans-serif;
        font-size: 18px;
        color: $secondary--lt;
        overflow-x: hidden;
    }
}

a{
    font-family: 'Rubik', sans-serif;
    color: $secondary--lt;
    text-decoration: none;
}
